Zenit/__pycache__/metas.cpython-313.pyc
Zenit/__pycache__/util.cpython-313.pyc
Zenit/__pycache__/gerenciador_dados.cpython-313.pyc
Zenit/__pycache__/usuario.cpython-313.pyc
config.json
dados.json
Zenit/__pycache__/metas.cpython-313.pyc
Zenit/__pycache__/util.cpython-313.pyc
